version: "3"
services:
  
  # ui:
  #  build:
  #     context: ./client
  #     dockerfile: Dockerfile.dev
  #  ports:
  #   -  3000:3000
  #  container_name: plant-client
  #  networks:
  #   -  plant-net
  #  volumes:
  #   -  ./client/src:/usr/app/src
  #   -  ./client/public:/usr/app/public
  #  depends_on:
  #   - api
  #  stdin_open: true
  #  tty: true

  api:
   build:
      context: ./server
      dockerfile: Dockerfile
   ports:
     - 8082:8082
   container_name: plant-api
   networks:
     - plant-net
   volumes:
    - ./server/src:/usr/app/src
   depends_on:
    - db
   environment:
    - MONGO_URL="mongodb://db:27017/Plant-IoT"
    - CLIENT=http://localhost:3000
    - MONGO_URI="mongodb://localhost:27017/Plant-Iot"
    - PORT=8082

  db:
    #4.4.6 is required to deploy on raspberry pi. Use 5 for full prod.
    image: mongo:4.4.6
    ports:
      - 27017:27017
    container_name: mongo-db
    networks:
      - plant-net
    volumes:
      - mongo-data:/data/db

networks:
  plant-net:
    driver: bridge

volumes:
  mongo-data:
    driver: local